---
layout: default
---

<h1>The Blog.</h1>

<div class="row">
  <div class="col-md-7">
    <section id="blogposts">
    {% for post in site.posts limit: 5 | sort: 'date' | reverse %}
      <article>
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <time>{{ post.date | date_to_long_string }}</time>
      {{ post.excerpt }}
      </article>
      <hr />
    {% endfor %}
    </section>
  </div>
  
  <div class="col-md-3">
    <section id="archive">
      <ul>
      {% for post in site.posts | sort: 'date' | reverse %}
        <li>{{ post.date | date_to_long_string }} - <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </section>
  </div>
</div>